{% extends 'base/master.html' %}

{% block title %}
Travel Catalogue
{% endblock %}

{% block content %}
    <h1>Travel Catalogue</h1>
     
    <main class="mt-5 pt-4">
      <div class="card">
              
             
      <h2>{{ object.name }}</h2>
      <p>Country: {{ object.get_country_display }} | {{ object.get_label_display }} </p>

              <!-- We created a tuple for countries stored in models.py, label refers to Initials
              display refers to the stored values-->
              <!-- <p>Country: {{ object.country }} | {{ object.label }} </p> -->
      
  <!--BELOW BROKEN-->
          <div class="view overlay">
          <img src="{{ destination.image.url }}" class="card-img-top"> <!--Supposed to run image-->
            <!-- <img src="shinsaibashisuji_1.jpg" class="card-img-top">  <!Supposed to run image-->    
          </div>
  <!--END-->  

<!--Everything below WORKS-->         
            <!--Price-->
            <p class="lead">
              {% if object.discount_price %} <!--If object has a discount price-->
              <span class="mr-1">
                <del>${{ object.price }}</del> <!--Strike out orignal price-->
              </span>
              <span>${{ object.discount_price }}</span> <!--Display Discounted price-->
              {% else %}
              <span>${{ object.price }}</span>
              {% endif %}
            </p>
  
            <!--Description-->
            <p class="lead font-weight-bold">Description</p>
            <p>{{ object.description }}</p>
        
        
          </div>  

        </div>
      </div>
    </main> 
{% endblock %}